# QUESTIONS:

1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

3. Create a CSV file called books.csv by using these lines:
   title,author,year
   The Weirdstone of Brisingamen,Alan Garner,1960
   Perdido Street Station,China Miéville,2000
   Thud!,Terry Pratchett,2005
   The Spellman Files,Lisa Lutz,2007
   Small Gods,Terry Pratchett,1992

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

5. Read books.csv and insert its data into the book table.

6. Select and print the title column from the book table in alphabetical order.

7. From the book table, select and print all columns in the order of publication.

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

10. Increment the count field of test and print it.

# ANSWERS:

In [3]:
#1).

test1 = "This is a test of the emergency text system"

with open ("test.txt", "w") as f:
    f.write(test1)

In [4]:
#2). 

with open("test.txt", "r") as f1:
    test2 = f1.read()
    
test1 == test2

True

In [45]:
#3).

ad = """ title, author, year
The Weirdstone of Brisingamen, Alan Garner, 1960 
Perdido Street Station,China Miéville, 2000
Thud!, Terry Pratchett, 2005 
The Spellman Files, Lisa Lutz, 2007
Small Gods, Terry Pratchett, 1992"""

with open("books.csv", "w") as a:
    a.write(ad)

In [42]:
#4). 

import sqlite3

db = sqlite3.connect("books.db")

cursor = db.cursor()

cursor.execute("create table book (title text, author text, year int)")

db.commit()

In [46]:
#5). 

import sqlite3

import csv

df = "insert into book values(?, ?, ?)"

with open("books.csv", "r") as adf :
    
    books = csv.DictReader(adf)
    
    for book in books:
        cursor.execute(df, (book[' title'],book[' author'],book[' year']))
        
db.commit()

In [47]:
#6).

cursor.execute("select title from book order by title asc")

cursor.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

In [48]:
#7).

cursor.execute("select * from book order by year")
cursor.fetchall()

[('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('Small Gods', ' Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', ' Terry Pratchett', 2005),
 ('The Spellman Files', ' Lisa Lutz', 2007)]

In [49]:
#8).

import sqlalchemy

connection = sqlalchemy.create_engine("sqlite:///books.db")

print(connection)

Engine(sqlite:///books.db)

In [58]:
#9). i am not able to install redis server so i try to answer it with online answers in comments 


import redis 

conn = redis.Redis()

#conn.delete('test')--> output will be 1

#conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'}) --> True

#conn.hgetall('test') --> {b'name': b'Fester Bestertester', b'count': b'1'}

In [59]:
#10)

#conn.hincrby('test', 'count', 3) answer for this is 4

#conn.hget('test', 'count') answer for this is b'4'